* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

.jacobLogo {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    left: 10px;
}

.title {
    position: relative;
    display: flex;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    text-align: left;
    color: white;
    left: 20px;
    top: 7px;
}

.errors {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.headInfo {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.headInfo p {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

.errorMessage {
    font-size: 40px;
    color: red;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.loadingMessage {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.hidden {
    display: none;
}

body {
    background-image: url("images/stars.jpg");
    background-attachment: fixed;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.searchSection {
    text-align: center;
}

.searchBox {
    width: 250px;
    height: 60px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    padding-left: 10px;
}

.buttonSection {
    text-align: center;
}

.submitButton {
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 60px;
    width: 200px;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
}


.infoContainer {
    margin-right: auto;
    margin-left: auto;
    border: white 10px solid;
    border-radius: 10px;
    color: white;
}

.infoResults a {
    text-decoration: none;
    pointer-events: none;
}

figure {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    text-align: center;
    width: 100% !important ;
    padding-bottom: 10px;

}

figure img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.imageOne {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.youTubeLogo {
    display: block;
    position: relative;
    max-width: 90%;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.tubeContainer {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Raleway', sans-serif;
    border: white 10px solid;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.tubeContainer p {
    font-size: 15px;
}

.tubeList iFrame{
    max-width: 90%;
}

.tubeList h3{
    font-size: 20px;
    padding: 20px;
}

a {
    color: white;
}

.arrowImage {
    position: fixed;
    right: 60px;
    bottom: 80px;
    width: 60px;
    border:  #F79FFD 5px solid ;
    border-radius: 10px;
    z-index: 1;
}

header {
    padding: 20px;
}

main {
    padding: 30px 20px;
    min-height: 100%;
}

.description {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: left;
    color: white;
    padding: 10px;
}

.credit {
    color:  #F79FFD;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.infoResults h2 {
    color: #F79FFD;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: left;
}

footer {
    flex-shrink: 0;
    font-size: 35px;
    color: black;
    text-align: center;
    background-color: #F79FFD;
    padding: 10px;
    margin-top: auto;
}

.footer p {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    color: black;
    padding: 1px;
}

@media only screen and (min-width: 760px) {

    .jacobLogo {
        width: 180px;
        height: 180px;
    }
    
    .title {
        width: 700px;
    }
    
    h1 {
        font-size: 50px;
        top: 20px;
    }

    .headInfo {
        width: 600px;
    }

    .headInfo p {
        font-size: 30px;
    }
    
    .imageOne {
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
    }

    .youTubeLogo {
        display: block;
        position: relative;
        max-width: 40%;
        padding-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .arrowImage {
        position: fixed;
        right: 30px;
        bottom: 30px;
        width: 80px;
        border:  #F79FFD 5px solid ;
        border-radius: 10px;
        z-index: 1;
    }

    figure {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    img {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    header p {
        font-size: 30px;
    }

    .tubeList iFrame{
        max-width: 100%;
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 1200px) { 

    .jacobLogo {
        width: 240px;
        height: 240px;
    }

    .title {
        width: 1000px;
    }
    
    h1 {
        font-size: 70px;
        top: 20px;
    }

    .infoContainer {
        display: inline-block;
        border: white 10px solid;
        border-radius: 10px;
        color: white;
        width: 600px;
        vertical-align: top;
        padding: 20px;
        margin: 10px;
    }

    .tubeContainer {
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        border: white 10px solid;
        border-radius: 10px;
        color: white;
        width: 500px;
        text-align: center;
        margin: 10px;

    }

    .mainContainer {
        text-align: center;
    }

    .youTubeLogo {
        display: block;
        position: relative;
        max-width: 60%;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
    }
}